export(wrapgp)
export(wrapgp_hier)
export(rmse_circ)
export(crps_circ)
export(trim)
export(slope_est)
export(mcmc_settings)
exportClasses(wrapgp)
exportMethods(predict)
exportMethods(plot)
import(circular)
import(dplyr)
import(scales)
import(grDevices)
import(graphics)
import(scoringRules)
